# History files
.Rhistory
.Rapp.history
.Ruserdata

# Session Data files
.RData

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/
*.Rproj

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token
.httr-oauth

# Passwords
*/*/test_auth.R

